*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #1a1a1a;
}
.copyright{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    margin-top: 6px;
    padding: 4px;
    overflow: hidden;
    text-overflow: clip;
    height: auto;
    width: 100%;
    color: rgb(248, 246, 245);
    /* border: 2px solid black; */
    background-color: rgba(95, 158, 160, 0.638) ;
}
.content{
    display: flex;
    justify-content: space-around;
    top: 55vh;
    width: 100%;
    margin: 10px;
    padding: 29px;
    /* border: 2px solid paleturquoise; */
}

.card {
    
    width: 220px;
    margin: 10px;
    background: white;
    padding: .4em;
    border: 2px solid gainsboro;
    height: 330px;
    border-radius: 6px;
  }
  
  .card-image {
    background-color: rgb(203, 135, 135);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
  .container{
    overflow: hidden;
    padding: 8px;
    margin: 0;
  }
  .slider-wrapper{
    position: relative;
    max-width: 38rem;
    margin: 0 auto;
  }
 .slider{
  display: flex;
  aspect-ratio: 16/9;
  width: 100vh;
  height: 50vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
  border-radius: 0.5rem;
 }
 .slider img{
  /* flex grill 1 every image sets to size 1 shrink 0  retains width and does not wrap content and size 100%  */
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  /* makes imag not distrorted by filling the height and with of parent conatiner while maintaining its aspect ratio */
 }
slider-nav{
  display: flex;
  column-gap: 2rem;
  position: absolute;
  bottom: 1.25rem;
  transform: translate(-50%);
  z-index: 1;

}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}

